/__ice__
bin/*
build/*
disk/*
*.stackdump
dump.dat

# Curses headers.
include/curses.h
include/cursesapp.h
include/cursesf.h
include/cursesm.h
include/cursesp.h
include/cursesw.h
include/cursslk.h
include/eti.h
include/etip.h
include/files.h
include/form.h
include/menu.h
include/nc_tparm.h
include/ncurses.h
include/ncurses_dll.h
include/panel.h
include/term.h
include/term_entry.h
include/termcap.h
include/tic.h
include/unctrl.h
